.Post {
    width: 500px;
}

.Post .card-header {
    background: rgb(12, 12, 12);;
}

.Post .card-body img {
   width: 100%;
}

svg{
    width: 30px;
    height: 30PX;
    margin-top: 20px;
    margin-right: 5px;
}
